*{
  color: #004369;
}

a {
  color: #004369;
}

.link {
  color: #159A9C;
}


.recherche {
  background-color: #b5d5e1;
}

.projet {
  background-color: rgb(244, 248, 239);
}

.competence {
  background-color: #b5d5e1;
}


.experience {
  background-color: #b5d5e1;
}

.sub {
  color: #159A9C;;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}