/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Base styling */
  body {
    font-family: "Work Sans", sans-serif;
    line-height: 1.6;
    color: #2e688c;
  }
  
    .formation-list > li {
        margin-bottom: 20px; /* Marge entre les principaux éléments */
    }

    .formation-list ul {
        margin-top: 10px; /* Espacement entre sous-listes */
    }

    .formation-list ul > li {
        margin-bottom: 5px; /* Marge entre éléments des sous-listes */
    }
    .formation-list li p {
      margin-top: 10px; /* Ajustez la valeur selon le besoin */
      margin-bottom: 10px; /* Ajustez la valeur selon le besoin */
  }

  .no-bullets {
    list-style-type: none;
    padding-left: 0; /* Optional, removes left padding if necessary */
}
/* Default footer styling */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

/* Default styling for footer columns */
footer .col-md-4 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query for screens less than 480px */
@media (max-width: 480px) {
  footer {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center the items */
      text-align: center; /* Center the text */
  }

  footer .col-md-4 {
      width: 100%; /* Make each column take full width */
      justify-content: center; /* Ensure content is centered */
      margin-bottom: 10px; /* Space between the columns */
  }

  footer .nav {
      display: flex; /* Ensure nav is a flex container */
      justify-content: center; /* Center the social media icons */
      padding-left: 0; /* Remove any padding */
      list-style: none; /* Remove list bullets */
      width: 100%; /* Ensure it takes full width */
      margin: 0; /* Reset any default margins */
  }

  footer .nav li {
      margin: 0 10px; /* Space between the social media icons */
  }
}